<div class="panel">
    <div class="panel-heading" style="background-color:#111;color:#fff;"></div>
    <div class="panel-body">
        <h2 ng-show="subRoute() != 'home'">{{subSection}}</h2>

        <div ng-hide="subRoute() == 'home'">
            <div ng-bind-html="content"></div>
        </div>

        <div ng-show="subRoute() == 'home'">
            <h2 ng-bind-html="tagline"></h2>
            <div class="row">
                <div class="col-md-8">
                    <h3>Highlights</h3>
                    <button class="btn btn-default">More</button>
                </div>
                <div class="col col-sm-4">
                    <div ng-repeat="feature in features">
                        <a ng-href="#/feature/{{id}}"><img src="{{feature.image}}" class="img-responsive">
                        </a>
                        <div class="text-muted"><small>{{feature.date}} / {{feature.author}}</small>
                        </div>
                        <p>
                            {{feature.teaser}}}
                        </p>
                        <hr>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>
</div>
