<div class="panel" id="midCol">
    <div class="panel-heading" style="background-color:#555;color:#eee;"></div>
    <div class="panel-body">
        <div ng-switch="subRoute()">
            <div ng-switch-when="home">
                <div class="well">
                    <h3>{{featureContent.headline}}</h3>
                    {{featureContent.date}}<br/>
                    <img src="{{featureContent.img}}"/><br/>
                    {{featureContent.teaser}}<br/>
                    <button class="btn btn-default">Read More</button>
                </div>
            </div>
            <div ng-switch-when="projects">
                <span ng-repeat="types in projects.tagTypes">
                    <h4>{{types.label}}</h4>
                    <span ng-repeat="item in projects.tags" ng-show="item.type == types.type" >   
                        <input type="checkbox" ng-model="tags" ng-click=""> {{item.name}}<br/>
                    </span>
                </span>
            </div>
            <div ng-switch-default>    
                <ul class="nav nav-stacked">
                    <li><a ng-repeat="subItem in selectedContents()" ng-click="showContent('{{subItem.name}}')">
                          {{subItem.name}}<br/><small>{{subItem.tagline}}</small>
                         </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-show="showTeam">
            <h3>Our Team</h3>
            <h5 ng-repeat="person in staff"><a ng-click='personModal()'><i class="glyphicon glyphicon-user"></i> {{person.firstName}} {{person.lastName}}</a></h5>
        </div>
    </div>
</div>