<nav class="navbar navbar-static" ng-controller="NavbarCtrl">
   <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/" target="ext"><b>CBITs</b></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li ng-repeat="item in mainNavItems" class="{{item.class}} center" ng-mouseover="showTagline()"><a ng-href="#/{{item.label}}">
            {{item.name}} 
            <i class="glyphicon glyphicon-{{item.icon}}"></i>
            <div class="tagline hidden">{{item.tagline}}</div>
          </a>
        </li>
      </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
            <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
             </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">About</a></li>
             </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
