<div ng-include src="'views/header.html'"></div>

<div class="container">
    <div class="no-gutter row">
        <!-- left side column -->
        <div ng-include src="'views/services/leftcolumn.html'" class="col-md-2"></div>

        <!--/end left column-->

        <!--mid column-->
        <div ng-include src="'views/services/middlecolumn.html'" class="col-md-3"></div>

        <!--/end mid column-->

        <!-- right content column-->
        <div ng-include src="'views/services/contentcolumn.html'" class="col-md-7"></div>
        <!--/end right column-->
    </div>
</div>